RewriteEngine on
RewriteRule ^$ site/


php_value upload_max_filesize 200M 
php_value post_max_size 200M 
php_value max_execution_time 300 
php_value max_input_time 300




RewriteRule ^trang-chu$ /book3/site/?act=home [L]
RewriteRule ^gioi-thieu$ /book3/site/?act=about [L]
RewriteRule ^gioi-thieu/bo-sgk-tieng-anh-global-success$ /book3/site/?act=about&page=1 [L]
RewriteRule ^gioi-thieu/bo-sgk-tieng-anh-thi-diem$ /book3/site/?act=about&page=2 [L]
RewriteRule ^san-pham$ /book3/site/?act=products [L]
RewriteRule ^hoc-sinh$ /book3/site/?act=student [L]
RewriteRule ^giao-vien$ /book3/site/?act=teacher [L]
RewriteRule ^giao-vien/tai-nguyen$ /book3/site/?act=teacher&what=1 [L]
RewriteRule ^phu-huynh$ /book3/site/?act=parent [L]
RewriteRule ^bai-viet$ /book3/site/?act=blog [L]
RewriteRule ^lien-he$ /book3/site/?act=contact [L]

RewriteRule ^sach/mam-non$ /book3/site/?act=products&level=1 [L]
RewriteRule ^sach/tieu-hoc$ /book3/site/?act=products&level=2 [L]
RewriteRule ^sach/thcs$ /book3/site/?act=products&level=3 [L]
RewriteRule ^sach/thpt$ /book3/site/?act=products&level=4 [L]
RewriteRule ^sach/hoc-sinh$ /book3/site/?act=products&level=10 [L]
RewriteRule ^sach/giao-vien$ /book3/site/?act=products&level=11 [L]
RewriteRule ^sach/sach-giao-khoa$ /book3/site/?act=products&level=12 [L]


RewriteRule ^bai-viet/page-([0-9]+)$ /book3/site/?act=blog&Page=$1 [L]

RewriteRule ^bai-viet/page-([0-9]+)$ /book3/site/index.php?act=blog&pagenum=$1 [L]

RewriteRule ^bai-viet/([a-zA-Z0-9-]+)-([0-9]+)$ /book3/site/?act=blogdetail&id=$2&slug=$1 [L]

RewriteRule ^bai-viet/([a-zA-Z0-9-]+)-([0-9]+)/page-([0-9]+)$ /book3/site/?act=blog&maloai=$2&Page=$3&slug=$1 [L]

RewriteRule ^sach/([a-zA-Z0-9-]+)$ /book3/site/?act=productdetail&slug=$1 [L]

ErrorDocument 404 /book3/site/views/Error404.php
